.page-header.position-relative
  %h1
    Hallo
    = current_user.firstname

.span12
  .nutrition-diary
    %h2 Ernährungstagebuch  

  %h4.pink
    %i.icon-hand-right.green
    %a.blue{"data-toggle" => "modal", :href => "#modal-form", :role => "button"} neuer Tagebucheintrag

  .row-fluid
    .span9
      #calendar
  
  = render "modal_form"

- content_for :page_specifc_css do
  %link{:href => "/assets/members/jquery-ui-1.10.3.custom.min.css", :rel => "stylesheet"}/
  %link{:href => "/assets/members/chosen.css", :rel => "stylesheet"}/
  %link{:href => "/assets/members/datepicker.css", :rel => "stylesheet"}/
  %link{:href => "/assets/members/bootstrap-timepicker.css", :rel => "stylesheet"}/
  %link{:href => "/assets/members/daterangepicker.css", :rel => "stylesheet"}/
  %link{:href => "/assets/members/colorpicker.css", :rel => "stylesheet"}/
  %link{:href => "/assets/members/fullcalendar.css", :rel => "stylesheet"}/

- content_for :scripts do
  /[if lte IE 8]
    <script src="assets/js/excanvas.min.js"></script>
  %script{:src => "/assets/members/jquery-ui-1.10.3.custom.min.js"}
  %script{:src => "/assets/members/jquery.ui.touch-punch.min.js"}
  %script{:src => "/assets/members/chosen.jquery.min.js"}
  %script{:src => "/assets/members/fuelux/fuelux.spinner.min.js"}
  %script{:src => "/assets/members/date-time/bootstrap-datepicker.min.js"}
  %script{:src => "/assets/members/date-time/bootstrap-timepicker.min.js"}
  %script{:src => "/assets/members/date-time/moment.min.js"}
  %script{:src => "/assets/members/date-time/daterangepicker.min.js"}
  %script{:src => "/assets/members/bootstrap-colorpicker.min.js"}
  %script{:src => "/assets/members/jquery.knob.min.js"}
  %script{:src => "/assets/members/jquery.autosize-min.js"}
  %script{:src => "/assets/members/jquery.inputlimiter.1.3.1.min.js"}
  %script{:src => "/assets/members/jquery.maskedinput.min.js"}
  %script{:src => "/assets/members/bootstrap-tag.min.js"}

  
  
  %script{:src => "/assets/members/fullcalendar.min.js"}
  %script{:src => "/assets/members/bootbox.min.js"}

- content_for :inline_scripts do
  :javascript
    $(function() {
      $('.date-picker').datepicker().next().on(ace.click_event, function(){
      $(this).prev().focus();
      });      

      $('#timepicker1').timepicker({
      minuteStep: 1,
      showSeconds: true,
      showMeridian: false
      });

      /* initialize the calendar */      
    
      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();
    
      
      var calendar = $('#calendar').fullCalendar({
        firstDay: 1,
        monthNames: ['Januar', 'Februar', 'März', 'April', 'Mai', 'Juni', 'Juli', 'August', 'September', 'Oktober', 'November', 'Dezember'],
         buttonText: {
          prev: '<i class="icon-chevron-left"></i>',
          next: '<i class="icon-chevron-right"></i>'
        },
        buttonText: {
          today: 'heute',
          month:    'Monat',
          week:     'Woche',
          day:      'Tag'
        },
        dayNames: ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'],
        dayNamesShort: ['So', 'Mo', 'Di', 'Mi', 'Do', 'Fr', 'Sa'],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        events: #{@json_events},
        otherEvent: [
        {
          title: 'Gewichtseintrag',
          start: new Date(y, m, 1),
          className: 'label-important'
        },
        {
          title: 'Long Event',
          start: new Date(y, m, d-5),
          end: new Date(y, m, d-2),
          className: 'label-success'
        },
        {
          title: 'Some Event',
          start: new Date(y, m, d-3, 16, 0),
          allDay: false
        }]
        ,
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar !!!
        drop: function(date, allDay) { // this function is called when something is dropped
        
          // retrieve the dropped element's stored Event Object
          var originalEventObject = $(this).data('eventObject');
          var $extraEventClass = $(this).attr('data-class');
          
          
          // we need to copy it, so that multiple events don't have a reference to the same object
          var copiedEventObject = $.extend({}, originalEventObject);
          
          // assign it the date that was reported
          copiedEventObject.start = date;
          copiedEventObject.allDay = allDay;
          if($extraEventClass) copiedEventObject['className'] = [$extraEventClass];
          
          // render the event on the calendar
          // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
          $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
          
          // is the "remove after drop" checkbox checked?
          if ($('#drop-remove').is(':checked')) {
            // if so, remove the element from the "Draggable Events" list
            $(this).remove();
          }
          
        }
        ,
        selectable: true,
        selectHelper: true,
        select: function(start, end, allDay) {
          
          bootbox.prompt("New Event Title:", function(title) {
            if (title !== null) {
              calendar.fullCalendar('renderEvent',
                {
                  title: title,
                  start: start,
                  end: end,
                  allDay: allDay
                },
                true // make the event "stick"
              );
            }
          });
          
    
          calendar.fullCalendar('unselect');
          
        }
        ,
        eventClick: function(calEvent, jsEvent, view) {
    
          var form = $("<form class='form-inline'><label>Change event name &nbsp;</label></form>");
          form.append("<input autocomplete=off type=text value='" + calEvent.title + "' /> ");
          form.append("<button type='submit' class='btn btn-small btn-success'><i class='icon-ok'></i> Save</button>");
          
          var div = bootbox.dialog(form,
            [
            {
              "label" : "<i class='icon-trash'></i> Delete Event",
              "class" : "btn-small btn-danger",
              "callback": function() {
                calendar.fullCalendar('removeEvents' , function(ev){
                  return (ev._id == calEvent._id);
                })
              }
            }
            ,
            {
              "label" : "<i class='icon-remove'></i> Close",
              "class" : "btn-small"
            }
            ]
            ,
            {
              // prompts need a few extra options
              "onEscape": function(){div.modal("hide");}
            }
          );
          
          form.on('submit', function(){
            calEvent.title = form.find("input[type=text]").val();
            calendar.fullCalendar('updateEvent', calEvent);
            div.modal("hide");
            return false;
          });
          
        
          //console.log(calEvent.id);
          //console.log(jsEvent);
          //console.log(view);
    
          // change the border color just for fun
          //$(this).css('border-color', 'red');
    
        }
        
      });
    
    
    });