/ ################ HEADER START ################
%header#top
  .container.home
    .row
      .span12
        %h1 die Macher
        %h2 Vital Coaches - das sind wir.
        %p
          Aus der Idee, mehr Menschen auf einmal helfen zu können als es in einem Kurs vor Ort möglich wäre, enstand die Online-Variante der Ernährungsberatung.
/ ################ HEADER END ################
.container
  %section#testimonials
    .row.center
      %h2
        die Macher
        %i.icon-thumbs-up
      .span6.margintop20
        = image_tag "edgar.png"              
        %hr/
        %blockquote
          "Nach meinem Studium der Ökotrophologie arbeitete ich viele Jahre in der Offline-Welt als Ernährungsberater. In einem Fitness-Studio erstellte ich ein Ernährungskonzept für gesunde, ausgewogene Ernährung. Ich gab erfolgreich Kurse und bildete zusätzlich Diätassistenten aus."
        %cite
          Edgar, Dipl.-Oecotroph.
      .span6.margintop20
        = image_tag "alex.png"              
        %hr/
        %blockquote
          "Als ich mit 12 meinen ersten Computer bekam war es um mich geschehen: mir 13 schrieb ich die ersten, einfachen Programme auf meinem Amiga mit BASIC. Mit 14 die ersten Spiele auf einem 486er in QuickBasic, mit 16 Tools und Spiele mit TurboPascal... und es endete mit dem Informatik-Studium an der Uni Karlsruhe. Nun entwickle ich Web-Anwendungen mit Ruby on Rails."
        %cite
          Alex, Dipl. Informatiker
      

  %hr.line/