/ ################ HEADER START ################
%header#top
  .container.home
    .row
      .span12
        %h1 die Coaches
        %h2 Ernährung, Aktivität, Motivation
        %p Wir unterstützen Dich auf deinem Weg zum Wunschgewicht. Gemeinsam sind wir erfolgreich.
/ ################ HEADER END ################
.container
  %section#testimonials
    .row.center
      %h2
        Vital Coaches Team
        %i.icon-thumbs-up
      .span3.margintop20
        = image_tag "edgar.png"              
        %hr/
        %blockquote
          "Nach meinem Studium der Ökotrophologie arbeitete ich viele Jahr in der Offline-Welt als Ernährungsberater. In einem Fitness-Studio erstellte ich ein Ernährungskonzept für gesunde, ausgewogene Ernährung. Ich gab erfolgreich Kurse und bildete zusätzlich Diätassistenten aus."
        %cite
          Edgar, Dipl.-Oecotroph.
      .span3.margintop20
        = image_tag "p2.png"              
        %hr/
        %blockquote
          - #          "Im Alter von 18 Jahren begann ich mit viel Begeisterung im heimischen Fitnessclub zu arbeiten. Als Aerobic-Trainerin und Kursleiterin für Rückenprävention konnte ich viele Menschen motivieren ihre Gesundheit zu stärken. Mit meiner eigenen kleinen TV-Sendung für Body-Shape und Wirbelsäulengymnastik erreichte ich nun auch die Menschen vor den Fernsehern. Später leitete ich Ernährungsseminare in den USA und baute einen Open Air Fitness Club in Griechenland auf. Bis heute bin ich als Firmen-Beraterin im Bereich Innovatives Gesundheitstraining tätig. "
          "als Personal Trainer motiviere ich Menschen und helfen Ihnen dabei, ihre Ziele zu erreichen. Durch meine Ausbildung im Fitness-Studio und meiner langjährigen Praxiserfahrung als Personal Coach weiß ich, worauf es ankommt. Ich begleite aktiv dabei, richtig Sport zu machen."
        %cite
          - #Eileen, Personal Trainer
          Petra, Personal Trainer
      .span3.margintop20
        = image_tag "p3.png"              
        %hr/
        %blockquote
          "In einem gesunde Körper steckt ein gesunder Geist. Aber auch umgekehrt muss ein gesunder Geist gehegt und gepflegt werden. Ich arbeite seit Jahren mit Menschen, die sich bei Alltagsprobleme helfen lassen wollen und ihnen dabei die nötige Ausdauer fehlt. Das Thema Motivation spielt hier die entscheidende Rolle. Ich helfe Dir, deine Ziele zu erreichen."        
        %cite
          Sarah, Dip. Psychologin          
      .span3.margintop20
        = image_tag "p4.png"
        %hr/
        %blockquote
          "Als ich vor 5 Jahren zu Pilates fand wusste ich: es ist Liebe auf den ersten Blick. Mein Hobby wurde zum Beruf. Seit meiner Ausbildung als Trainer gebe ich Personal Training."
        %cite
          Frank, Pilates Trainer
  / ################ TESTIMONIALS  SECTION END ################
  %hr.line/