- title "Ernährungstagebuch"
/ ################ HEADER START ################
%header#top
  .container.home
    .row
      .span12
        %h1 Ernährungstagebuch
        %p behalte den Überblick.
/ ################ HEADER END ################
.container
  %section
    .row
      .span6
        %h2 führe Dein Tagebuch        
        %p
          Um zu wissen wo wir ansetzen können ist es hilfreich, wenn Du regelmäßig aufschreibst, was Du isst. Hierzu haben wir Dir ein einfach zu bedienendes Tool gebaut, mit dem Du Deine Malzeiten einfach eintragen kannst.       
      .span6
        = image_tag "diary1.png", :alt => "Ernährungstagebuch Screenshot 1"

    .row
      .span6
        = image_tag "diary.png", :alt => "Ernährungstagebuch Screenshot 2"
      .span6
        %h2 und behalte den Überblick
        %p
          So hast Du den Überblick über Deine Ernährungsgewohnheit - und wenn Du willst kannst Du die Daten mit Deinem Coach teilen. Andernfalls bleiben Sie nur für Dich privat einsehbar.
      
      

  %hr.line/