%header#top
  .container.home
    .row
      .span12
        %h1 Impressum
.container
  .row
    .span12
      #imprint        
        %p G.Consulting
        %p Reinhold-Schneider-Str. 76
        %p 76199 Karlsruhe
        %p Deutschland
        %p Steuernummer: 35078/08641
        %p info@gconsulting.de
        %p Datum: 1. November 2013
= content_for :meta_tags do
  %meta{:content => "noindex", :name => "robots"}