%header#top
  .container.home
    .row
      .span12
        %h1 Allgemeine Geschäftsbedingungen
.container
  .row
    .span12
      #terms        
        %ol
          %li
            %p Einführung
            %p
              Willkommen bei VitalCoaches! VitalCoaches wird von der G.Consulting, (im Folgenden "G.Consulting") unter der Internet-Domain
              %a{:href => "http://www.vital-coaches.com/"} vital-coaches.com
              betrieben und ist ein Online-Coaching (im Folgenden "VitalCoaches"), mit dem du auf einfache und effiziente Art deine Ernährungskenntnisse erweitern kannst. VitalCoaches ist über den Internet-Browser aber auch über mobile Applikationen und über PC-Software nutzbar. Mit der Registrierung zu VitalCoaches stimmst du (im Folgenden "Nutzer") diesen allgemeinen Geschäftsbedingungen (im Folgenden "AGB") zu. Mit dem Abschluß der Registrierung wird der Vertrag zwischen dem Nutzer und der G.Consulting, wirksam. Bitte lies die AGB sorgfältig durch, denn sie bilden den rechtlichen Rahmen für die Nutzung von VitalCoaches.
            %p VitalCoaches bietet einige Funktionen und Inhalte kostenlos an, ist aber insgesamt kein kostenloses Angebot. Die Lerninhalte sind professionell produziert und werbefrei. Um einen hohen Standard für Technik und Lernqualität zu gewährleisten, sind Gebühren notwendig. Gebühren entstehen für den Nutzer niemals ohne ausdrücklichen Hinweis. Weder für die eingeschränkte und probeweise Nutzung noch durch die Registrierung werden Gebühren erhoben. VitalCoaches richtet sich ausschließlich an Privatpersonen bzw. Endverbraucher, so dass auch nur solche registriert werden.
          %li
            %p Geltungsbereich, Begriffsbestimmungen
            %p Die AGB gelten für alle nicht-gewerblichen Nutzer von VitalCoaches. Abweichende und ergänzende Regelungen bei Vertragsschluss gelten nur, wenn sie schriftlich gefasst sind. Die AGB gelten gleichermaßen für kostenlose und kostenpflichtige Angebote auf VitalCoaches.
          %li
            %p Registrierung und Vertragsschluss
            %ol
              %li Jeder Nutzer darf sich nur einmal registrieren. Der Nutzer verpflichtet sich, die im Registrierungsformular vorgesehenen Felder vollständig und wahrheitsgemäß auszufüllen. Der Nutzer ist mit der öffentlichen Wiedergabe seines Nutzernamens, seiner Profildaten, einschließlich der gewählten Lektionen, der aktuellen VitalCoaches-Punkte, des Online-Status und des Registrierungsdatum sowie weiterer freiwilliger Angaben, einschließlich seines Profilbildes, einverstanden. Die E-Mail-Adresse wird nicht veröffentlicht.
              %li Der Vertrag zur Nutzung von VitalCoaches zwischen dem Nutzer und G.Consulting wird geschlossen, indem der Nutzer das Registrierungsformular ausfüllt und durch Klick auf den Button "Jetzt registrieren" abschickt. Zuvor sind die AGB von G.Consulting zu akzeptieren.
              %li G.Consulting schickt dem Nutzer nach Eingang der Registrierung eine automatische Bestätigung per E-Mail zu. Diese E-Mail enthält einen Hyperlink, über den der Nutzer die Richtigkeit der angegebenen E-Mail-Adresse verifiziert. Der Nutzer verpflichtet sich zu dieser Verifizierung. Erfolgt sie nicht, kann G.Consulting den Zugriff auf VitalCoaches jederzeit einschränken oder unterbinden bis der Zugang verifiziert wurde.
              %li Falls Preise auf VitalCoaches angegeben sind, verstehen sich diese einschließlich der jeweils gültigen gesetzlichen Umsatzsteuer.
          %li
            %p Kostenfreie Nutzung der Basisfunktionen von VitalCoaches (Basisvertrag)
            %ol
              %li Mit der Registrierung entstehen dem Nutzer keine Kosten. Die Nutzung der jeweils zum Ausprobieren bereitgestellten Basisfunktionen von VitalCoaches ist kostenfrei.
              %li Der Nutzungsvertrag für die Nutzung der Basisfunktionen (Basisvertrag) von VitalCoaches wird unbefristet geschlossen und kann von beiden Seiten jederzeit ohne Frist gekündigt werden. Um zu kündigen muss der Nutzer unter dem Menüpunkt "Profil/Einstellungen" auf den Button "Nutzerkonto Löschen" klicken. Daraufhin erhält der Nutzer eine E-Mail mit einem Link, den er anklicken muss, um die Kündigung seiner Registrierung zu bewirken.
              %li Das Nutzerkonto wird nach Beendigung des Basisvertrages gelöscht. Der Nutzer hat nach Vertragsbeendigung keinen Anspruch auf Herausgabe oder Überlassung der von ihm eingestellten Inhalte.
              %li Für den vollen Zugang zu den Lerninhalten und Funktionen werden Gebühren fällig, soweit dies ausgewiesen ist und der Nutzer diese gesondert bestellt bzw. bucht.
          %li
            %p Kostenpflichtige Dienste und Produkte (Premiumverträge)
            %p G.Consulting bietet kostpflichtige Dienste und Produkte auf VitalCoaches an ("Premiumdienste").
          %li
            %p Abrechnungsarten, Kündigung, Verlängerung
            %ol
              %li Premiumprodukte können je nach Angebot als Abonnement oder durch Einmal-Zahlung erworben werden. Abrechnungsart, Preis und Laufzeit sind jeweils im Rahmen der Angebote aufgeführt und werden vor Abschluß der Bestellung vollständig zusammengefaßt. Der Vertrag über den Erwerb von Premiumprodukten kommt mit Klick auf den Button "Jetzt Bezahlen" zu Stande.
              %li Premiumverträge mit Abonnement werden jeweils für eine feste Laufzeit geschlossen. Die Vergütung bzw. der Rechnungsbetrag ist für die gesamte Laufzeit beim Vertragsabschluss fällig. Die Laufzeit verlängert sich automatisch wiederkehrend um die jeweils vertraglich vereinbarte Laufzeit (z.B. 3, 6 oder 12 Monate), sofern der Nutzer seinen Vertrag vor Ablauf der jeweiligen Laufzeit nicht kündigt. Für die Verlängerungslaufzeiten wird die Vergütung ebenfalls vorschüssig in Rechnung gestellt. Alle Verträge sind bis bzw. zum Ablauf der jeweiligen Laufzeit kündbar.
              %li Premiumverträge mit "Einmal-Zahlung" sind jeweils als befristet oder unbefristet ausgewiesen. Sofern sie befristet sind, haben sie eine jeweils angegebene Laufzeit und enden, ohne dass es einer Kündigung bedarf.
              %li
                Die Kündigung von Premiumverträgen erfolgt per E-Mail an
                = succeed "." do
                  %a{:href => "mailto:sales@vital-coaches.de"} sales@vital-coaches.de
                Sie wird von G.Consulting per E-Mail bestätigt. Kündigt der Nutzer seinen Basisvertrag wie unter Ziffer 4.2 beschrieben, enden Premiumverträge des Nutzers mit wirksam werden der Kündigung des Basisvertrages. Ein Anspruch auf Rückerstattung von Nutzungsentgelten besteht nicht.
              %li Das Recht der außerordentlichen Kündigung bleibt unberührt.
              %li G.Consulting ist berechtigt, Premiumverträge jederzeit ohne Angabe von Gründen zum Ende einer Vertragslaufzeit zu kündigen. Basisverträge können jederzeit ohne Angaben von Gründen durch G.Consulting gekündigt werden.
          %li
            %p "Geld-Zurück-Garantie" für Premiumdienste
            %ol
              %li Der Nutzer hat jederzeit das Recht, einen Premiumvertrag mit sofortiger Wirkung zu kündigen. Kündigt er innerhalb der ersten 14 Tage nach Vertragsschluss, erhält er das geleistete Nutzungsentgelt vollständig zurück. Dies gilt nicht für Verlängerungen von Premiumverträgen.
              %li Die "Geld-zurück-Garantie" gilt zusätzlich zum gesetzlichen Widerrufsrecht gemäß Ziffer 9.
          %li
            %p Zahlungsmodalitäten
            %ol
              %li Nutzungsentgelte für Premiumdienste sind jeweils im Voraus zur Zahlung fällig.
              %li Der Nutzer kann die Zahlung über die im Einzelnen aufgeführten Bezahlsysteme wie Kreditkarte oder elektronisches Lastschriftverfahren etc. vornehmen.
              %li Verfügt der Nutzer über einen Gutscheincode für die Nutzung, erhält er für einen begrenzten Zeitraum Zugang zum jeweiligen Premiumdienst. Dadurch entsteht keine weitere Zahlungspflicht. Es wird daher auch keine Rechnung ausgestellt. Die Dauer des Zugangs ist vom jeweiligen Gutscheincode abhängig.
              %li
                Die Rechnungsstellung erfolgt digital; auf Rechnungserstellung in Papierform wird verzichtet. Die Rechnung wird auf dem Portal hinterlegt und ist im eigenen Kundenprofil unter der Adresse
                %a{:href => "http://www.vital-coaches/members/subscription"} http://www.vital-coaches/members/subscription
                jederzeit abrufbar.
          %li
            %p Widerrufsbelehrung
            %p
              %strong Widerrufsrecht
            %p Sie können Ihre Vertragserklärung innerhalb von 14 Tagen ohne Angabe von Gründen in Textform (z.B. Brief, Fax, E-Mail) widerrufen. Die Frist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Absatz 1 und 2 EGBGB sowie unserer Pflichten gemäß § 312g Absatz 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Widerrufsfrist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf ist zu richten an:
            %p
              G.Consulting, Reinhold-Schneider-Str. 76, 76199 Karlsruhe, Deutschland
              E-Mail:
              %a{:href => "mailto:sales@vital-coaches.de"} sales@vital-coaches.de
            %p
              %strong Widerrufsfolgen
            %p Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z.B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung sowie Nutzungen (z.B. Gebrauchsvorteile) nicht oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren beziehungsweise herausgeben, müssen Sie uns insoweit Wertersatz leisten. Dies kann dazu führen, dass Sie die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf gleichwohl erfüllen müssen. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung, für uns mit deren Empfang.
            %p
              %strong Besonderer Hinweis
            %p Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben. Ende der Widerrufsbelehrung gem. Anlage 1 zu Art. 246 EGBGB. Unabhängig von dem gesetzlich vorgeschriebenen Widerrufsrecht gilt unsere "Geld-zurück-Garantie" ohne weitere Bedingungen.
          %li
            %p Inhalt und Erreichbarkeit des Ernährungsportals und Haftung
            %ol
              %li G.Consulting ist bemüht, jederzeit einen ordnungsgemäßen Betrieb von VitalCoaches sicherzustellen. G.Consulting garantiert jedoch keine ununterbrochene Erreichbarkeit.
              %li G.Consulting benutzt für seinen Service die aktuell und allgemein verwendeten Technologien. Um das Angebot von G.Consulting in vollem Umfang nutzen zu können, muss der Nutzer ebenfalls diese Technologien (z.B. aktuelle Browsertechnologien, Adobe Flash) verwenden oder deren Verwendung auf seinem Computer ermöglichen (z.B. Aktivierung von Java Skript, Cookies, Pop-ups). Bei Benutzung älterer oder nicht allgemein gebräuchlicher Technologien kann es sein, dass der Nutzer die Leistungen von G.Consulting nur eingeschränkt nutzen kann.
              %li Ansprüche des Nutzers auf Schadensersatz sind ausgeschlossen, soweit nicht nachfolgend anderes geregelt ist. Hiervon ausgenommen sind Schadensersatzansprüche des Nutzers aus der Verletzung des Lebens, des Körpers, der Gesundheit oder aus der Verletzung wesentlicher Vertragspflichten (Kardinalpflichten) sowie die Haftung für sonstige Schäden, die auf einer vorsätzlichen oder grob fahrlässigen Pflichtverletzung seitens G.Consulting, seiner gesetzlichen Vertreter oder Erfüllungsgehilfen beruhen. Wesentliche Vertragspflichten sind solche, deren Erfüllung zur Erreichung des Ziels des Vertrages notwendig ist. Eine "Kardinalpflicht" bzw. "wesentliche Vertragspflichten" sind Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglichen und auf deren Einhaltung der Vertragspartner regelmäßig vertraut und vertrauen darf.
              %li Bei der Verletzung wesentlicher Vertragspflichten haftet G.Consulting nur auf den vertragstypischen, vorhersehbaren Schaden, wenn dieser einfach fahrlässig verursacht wurde, es sei denn, es handelt sich um Schadensersatzansprüche des Nutzers aus einer Verletzung des Lebens, des Körpers oder der Gesundheit.
              %li Die Einschränkungen der Absätze 10.3 und 10.4 gelten auch zugunsten der gesetzlichen Vertreter und Erfüllungsgehilfen von G.Consulting, wenn Ansprüche direkt gegen diese geltend gemacht werden.
          %li
            %p Urheber-, Namens und Markenrechte, Eigentumsrechte
            %p Soweit es sich nicht ausdrücklich um Werke unter einer Creative Commons-Lizenz handelt, sind sämtliche von G.Consulting erstellten und im Rahmen des Coachingportals verbreiteten Texte, Bilder und sonstigen Werke urheberrechtlich geschützt und eine Nutzung über das Sprachportal hinaus bedarf einer vorherigen Zustimmung von G.Consulting.
          %li
            %p Von Nutzern übermittelte Inhalte
            %ol
              %li Im Rahmen der interaktiven Nutzung von VitalCoaches räumt G.Consulting dem jeweiligen Nutzer die Möglichkeit ein, selbst kreierte Inhalte (wie z.B. Bilder, Übersetzungen oder Texte) an G.Consulting zu übermitteln und auf VitalCoaches einzustellen, so dass sie der Öffentlichkeit zugänglich werden.
              %li Der Nutzer räumt VitalCoaches ein zeitlich und räumlich unbeschränktes, nicht ausschließliches, kostenloses, übertragbares Recht ein, sämtliche Inhalte wie z.B. Essenpläne, Rezepte, Hilfestellungen, die der Nutzer im Rahmen der Nutzung von VitalCoaches veröffentlicht, im Rahmen von VitalCoaches öffentlich zugänglich zu machen.
              %li G.Consulting hat das jederzeitige Recht sämtliche veröffentlichten Inhalte ganz oder teilweise zu sperren oder zu löschen.
              %li Voraussetzung für die Einstellung von Inhalten ist eine ordnungsgemäße Registrierung über ein Nutzerkonto sowie die Volljährigkeit des Nutzers. Alle vom Nutzer übermittelten und ggf. eingestellten Inhalte sind auf seinen selbst gewählten Nutzernamen zurückzuführen.
              %li Der Nutzer nimmt zur Kenntnis, dass ihm die Möglichkeit zur Einstellung von Inhalten nur für den privaten, nicht gewerblichen Gebrauch gestattet ist. Daher ist der Nutzer nicht berechtigt, solche Inhalte einzustellen, mit denen er gewerbliche Interessen, insbesondere Werbezwecke, verfolgt.
              %li Der Nutzer trägt selbst dafür Sorge, dass über seine Registrierungsdaten kein Missbrauch durch Dritte erfolgen kann. In diesem Zusammenhang ist der Nutzer insbesondere dazu verpflichtet, keinem Dritten Zugang zu seinen Registrierungsdaten zu verschaffen. Der Nutzer ist mit der Folge eigener Haftung weiterhin dafür verantwortlich, dass die von ihm auf dem G.Consulting eingestellten Inhalte frei von Viren, Würmern, Trojanern oder sonstigen Programmen sind, die die Funktionsfähigkeit oder den Bestand des Coachingportals andere Webseiten die Computer anderer Nutzer gefährden oder beeinträchtigen können.
              %li Der Nutzer leistet gegenüber G.Consulting Gewähr, dass die Inhalte frei von Rechten Dritter im Rahmen von 12.2 genutzt werden können. Davon umfasst sind auch etwaige Persönlichkeitsrechte aller abgebildeten, genannten oder in sonstiger Weise in die Inhalte einbezogenen Dritter.
              %li G.Consulting behält sich bei Verstoß gegen diese Vereinbarung das Recht vor, den Nutzer von seinem Angebot oder zumindest von der Möglichkeit zur Veröffentlichung von Inhalten auszuschließen. Darüber hinaus garantiert der Nutzer und hat mit der Folge eigener Haftung dafür Sorge zu tragen, dass die von ihm eingestellten Inhalte weder gegen einschlägige gesetzliche oder behördliche Bestimmungen noch – darüber hinaus – in jugendgefährdender, pornographischer, rassistischer, beleidigender oder ähnlicher Weise gegen die guten Sitten verstoßen.
              %li Die von G.Consulting vom Nutzer eingeräumten Rechte und die vorstehend erklärten Gewährleistungs- und Freistellungsansprüche enden nicht mit Beendigung des Nutzungsverhältnisses.
          %li
            %p Schlussbestimmungen
            %ol
              %li Auf Verträge zwischen G.Consulting und dem Nutzer findet das Recht der Bundesrepublik Deutschland unter Ausschluss des UN-Kaufrechts Anwendung.
              %li Die Parteien schließen die Anwendung der Kollisionsnormen des internationalen Privatrechts aus, soweit diese zur ausschließlichen Anwendung anderer Rechtsordnungen führen.
              %li Die AGB bleiben auch bei rechtlicher Unwirksamkeit einzelner Punkte in seinen übrigen Teilen verbindlich.
              %li G.Consulting behält sich vor, diese AGB ohne Nennung von Gründen zu ändern, soweit dies aufgrund der Änderungen der Leistungen von G.Consulting, des Umfangs von VitalCoaches oder aufgrund rechtlicher Änderungen oder technischer Fortentwicklungen notwendig wird. Dies gilt insbesondere dann, wenn neue Angebote von G.Consulting, neue Regelungen erfordern. Die geänderten AGB werden dem Nutzer vorab per E-Mail zugesandt. Widerspricht der Nutzer den geänderten AGB nicht innerhalb von sechs Wochen, gelten sie als angenommen. Im Fall eines Widerspruchs kann G.Consulting das Nutzerkonto des Nutzers sperren, wobei bereits geleistete Zahlungen anteilig im Verhältnis zur Restlaufzeit erstattet werden.. Auf diese Rechtsfolgen wird G.Consulting in der E-Mail mit den geänderten AGB gesondert hinweisen.
        %p G.Consulting, Reinhold-Schneider-Str. 76, 76199 Karlsruhe, Deutschland
        %p Datum: 1. November 2013
= content_for :meta_tags do
  %meta{:content => "noindex", :name => "robots"}