.page-header.position-relative
  %h1
    Hallo
    = current_user.firstname
  %small
    Deine Startseite
.row-fluid
  .span12
    #main-media.span6.margintop20
      %ul
        %li
          1. Trainingstagebuch anlegen
        %li
          2. Gewichtstagebuch führen
        %li
          3. Ernährungstagebuch führen