<p>Hallo <%= @resource.email %>!</p>

<p>Um Dein Passwort zurückzusetzen folge dem Link:</p>

<p><%= link_to 'Ändere mein Passwort', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Falls Du diese Mail nicht angefordert hast, ignoriere sie einfach.</p>
<p>Dein Passwort bleibt das Alte solange Du über den Link kein neues gesetzt hast.</p>
