#nav-search.nav-search
    %form.form-search
      %span.input-icon
        %input#nav-search-input.input-small.nav-search-input{:autocomplete => "off", :placeholder => "Suche ...", :type => "text"}/
        %i.icon-search.nav-search-icon
  / #nav-search